.sm-ca-co{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: sans-serif;
    box-shadow: 1px 0px 20px 8px #dedede;
    width: max-content;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.sm-c-c-1{
    color: #f35525;
    font-size: 35px;
}
.sm-cs-co-p{
    color: rgb(174, 174, 174);
}